div.loginForm {
  background-color: rgba(228, 228, 228, 0.558);
  width: 500px;
  height: 350px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #c3c3c3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #3c7148;
  font-weight: bold;

}

form.sessionForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 20px;
}

#sessionInput {
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
}

#sessionInput:focus {
  outline: none;
  box-shadow: 0 0 5px #3c7148;
}

input.btn {
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #ccc;
  color: #3c7148;
  font-size: medium;
}

input.active {
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
  font-size: medium;
  margin-top: 10px;
  background-color: #3c7148;
  color: white;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

div.signUp {
  display: flex;
  justify-content: center;
}

.demoBtn {
  margin-top: 10px;
  background-color: #ccc;
  color: #3c7148;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  outline: none;
  font-size: medium;
  margin-bottom: 10px;
  cursor: pointer;
}

.demoBtn:hover {
  background-color: #3c7148;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
  color: #ecf0f1;
  transition: background-color 0.5s ease;
  cursor: pointer;
}


.sessionRedirect {
  color: #3c7148;
  font-size: large;
  font-weight: bold;
}

#sessionLinkA {
  color: #714290;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

#sessionLinkA:hover {
  color: #513265;
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
}

#loginLabel {
  margin-right: 20px;
}

#errors {
  font-size: 17px;
  width: 450px;
  display: flex;
  justify-content: center;
  color: rgb(156, 4, 4);
}



