div.signupForm {
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  width: 500px;
  height: 500px;
  border-radius: 8px;
  border: 1px solid #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: green;

  /* padding: 10px; */
}

div.login {
  display: flex;
  justify-content: center;
}
