.habitModalWrapper {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #b3e275;
  border-radius: 10px;
}

.closeBtnHabit {
    margin-top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
  margin-left: 400px
}

.closeBtnHabit:hover {
    margin-top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #3c7148;
  font-size: 17px;
  margin-left: 400px
}



.sharedBody {
  width: 450px;
  margin-left: 10px;
}
.sharedBody input {
  margin-top: 4px;
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  border: solid 1px;
  outline: none;
}

.sharedBody div {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: 10px;
}

.checkBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  margin: 0;
  margin-right: 320px;
}
select {
  margin-left: 5px;
}

.sharedBody button {
  background-color: #3c7148;
  color: #ecf0f1;
  border-radius: 10px;
  border: none;
  padding: 10px;
  outline: none;
  width: 120px;
  margin-top: 50px;
  font-weight: 500;
  font-size: medium;
  transition: background-color 0.5s ease;
  margin-left: 320px;

}

.sharedBody button:hover {
  background-color: rgb(40, 112, 1);
  transition: background-color 0.5s ease;

}

input.check {
  margin: 0;
}



#habitModalInput {
  border: none;
}


#habitModalInput:focus {
  border: none;
  outline: 1px solid #3c7148;
}
