
.table {
  width: 100%;
  background-color: #f7f7f7;
  border-collapse: collapse;
  margin-bottom: 20px; 
}


.th,
.tdBox {
  padding: 11px;
  text-align: center;
  border: 1px solid #ddd;
}


@media screen and (max-width: 767px) {

  .th,
  .tdBox {
    padding: 7px;
    text-align: center;
    border: 1px solid #ddd;
  }
}


@media screen and (min-width: 1700px) {

  .th,
  .tdBox {
    padding: 17px;
    text-align: center;
    border: 1px solid #ddd;
  }
}
.th {
  background-color: #f0f0f0; 
  font-weight: bold;
}

.tbody .tdBox {
  border-top: none;
}

@media only screen and (max-width: 600px) {
  .table {
    width: 100%;
    margin-bottom: 15px;
  }
}


.header,
.footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
}

.box {
  border: solid 1px black;
  width: 20px;
  height: 20px;
}


.td,
td.boxId {
  width: 20px;
}


.current-date {
  background-color: black;
  color: white;
}

.current-day {
  background-color: black;
  color: white;
}

.navigation {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation button {
  margin: 10px;
}

.feedTable table {
  width: 400px;
  margin-left: 30px;
}

.goal,
.achieved {
  text-align: center;
  border: 1px solid #ddd;
}

.tdBox {
  cursor: pointer;
}

.achieved {
  background-color: #0de0a1;
}

.notAchieved {
  background-color: yellow;
  border: 1px solid #ddd;
  text-align: center;
}

.checkMarks {
  text-align: center;
}

button.arrow {
  border: none;
  background: none;
  cursor: pointer;
}
