.habit-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100vh;
  background: linear-gradient(to right, #b4eb6c, #ffffff);
}

.habit-image {
  border-radius: 8px;
  margin-right: 20px;
}

.habit {
  max-width: 600px;
  padding: 50px;
  border-radius: 8px;
  position: relative;
}

.buttonsDiv {
  position: absolute;
  bottom: 10px;
  right: 0px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 50px;
}

.submitBtn {
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #3c7148;
  color: #ecf0f1;
  border: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  width: 60px;
  transition: background-color 0.5s ease;
}

.submitBtn:hover {
  background-color: rgb(40, 112, 1);
  transition: background-color 0.3s ease;
}

.allTheHabits::before {
  content: "";
  display: block;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent 10%,
    #ccc 45%,
    #ccc 55%,
    transparent 90%
  );
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  margin-top: 10px;
}

.allTheHabits {
  position: relative;
}

.allTheHabits h1 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: xxx-large;
  padding-left: 12%;
  padding-bottom: 8%;
}

.allTheHabits li {
  margin: 5px 0;
  font-weight: 300;
  font-size: x-large;
  display: inline;
}

#habitLi {
  align-items: left;
}

#completedLi {
  font-weight: bold;
  font-size: 27px;
  color: rgb(37, 177, 37);
}

.allTheHabits .habit-detail li {
  display: inline;
  margin-right: 10px;
  margin-bottom: 5px;
}

.allTheHabits ul {
  margin: 20px 0;
  padding-left: 15%;
  font-size: x-large;
}

.notesComponentDiv {
  width: 100%;
  height: 100px;
}



#habitItemBackBtn {
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #3c7148;
  color: #ecf0f1;
  border: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  width: 60px;
  transition: background-color 0.5s ease;
}
#habitItemBackBtnDiv {
  position: absolute;
  margin-top: 110px;
  margin-left: 40px;
  top: 0;
  left: 0;
}



.homeFooter {
  background-color: #132b1e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.upperHomeFooter {
  list-style: none;
  position: relative;
  top: 50px;
  padding: 11px;
  background-color: #3c7148;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 30px;
}

.upperHomeFooter:hover {
  background-color: rgb(40, 112, 1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.footerItem {
  color: #eeeded;
}


.backToTopP {
    color: #eeeded;
}