/* HabitsIndex.css */

.table {
  /* width: 100%; */
  border-collapse: collapse;
  margin-bottom: 20px; /* Add margin at the bottom for spacing */
}

.th,
.tdBox {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd; /* Add border to table cells */
}

.th {
  background-color: #f0f0f0; /* Light gray background for header cells */
  font-weight: bold;
}

.tbody .tdBox {
  border-top: none; /* Remove top border from tbody cells */
}

/* Adjustments for mobile responsiveness */
@media only screen and (max-width: 600px) {
  .table {
    width: 100%;
    margin-bottom: 15px;
  }
}

/* Styles for header and footer */
.header,
.footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
}

.box {
  border: solid 1px black;
  width: 20px;
  height: 20px;
}

/* Adjust the width of .td and td.boxId */
.td,
td.boxId {
  width: 20px;
}

/* HabitsIndex.css */
.current-date {
  background-color: black;
  color: white; /* Light gray background for the current date */
}

.current-day {
  background-color: black;
  color: white; /* Light gray background for the current day */
}

.navigation {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation button {
  margin: 10px;
}

.feedTable table {
  width: 400px;
  margin-left: 30px;
  /* margin-right: 0px; */
}

.goal,
.achieved {
  text-align: center;
  border: 1px solid #ddd;
}

.tdBox {
  cursor: pointer;
}
