.main {
  background-image: url(../../assets/mainPage.jpeg);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 135px;
  font-size: 50px;
  color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  .main {
    background-size: cover;
  }

  .title {
    margin-top: 50px;
    font-size: 30px;
  }
}

@media only screen and (max-height: 768px) {
  .main {
    background-size: cover;
  }

  .title {
    margin-top: 50px;

    font-size: 50px;
    color: white;
  }
}