.main {
  background-image: url(../../assets/mainPage.jpeg);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 150px;
  font-size: 50px;
  color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}
