#noteItem {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin-left: 17px;
  padding: 12px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(161, 161, 161);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  margin-top: 16px;
}

#noteContent {
  word-wrap: break-word;
  width: 800px;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 12px;
  padding-left: 18px;
}

#noteItem:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#noteDropdown {
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 40px;
  border: 1px solid black
}

#noteDropdown-btn {
  background: none;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#noteDropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  height: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  z-index: 2;
  right: 0;
}

#noteItem:hover #noteDropdown-content {
  display: flex;
}

#noteBtn {
  background: none;
  border: none;
  text-align: center;
  /* margin-left: 2px; */
  padding: 8px;
  cursor: pointer;
}

#noteBtn:hover {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  background-color: #ddd;
}


#createText {
  height: 170px;
  margin-bottom: 80px;
}