div.feedContainer {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background: linear-gradient(to right, #b4eb6c, #ffffff);
}

.addBtn {
  background-color: #3c7148;
  color: #ecf0f1;
  border-radius: 10px;
  border: none;
  padding: 10px;
  outline: none;
  width: 120px;
  margin-top: 50px;
  font-weight: 500;
  font-size: medium;
  transition: background-color 0.5s ease;
  margin-left: 50px;
}

.addBtn:hover {
  background-color: rgb(40, 112, 1);
  transition: background-color 0.5s ease;
}

.feedTableBox {
  margin-top: 20px; 
  width: 99%;
  overflow-x: auto;
}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #193918;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #3c7148;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c7148;;
  background-color: rgb(40, 112, 1);
  transition: background-color 1s ease;
}

div.feedTable {
  width: 100%;
  margin-left: 15px;
}
